body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color:rgb(119, 174, 245);
    color: white;
    padding: 20px;
}

h1 {
    background-color: rgb(41, 163, 92);
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 7px double white;
    text-align: center;
    font-size: 3em;
}

button:hover{
     transform: scale(1.05); 
}

button {
    background-color: rgb(41, 163, 92);
    color: white;
    border: 2px solid white;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;   
}

button:disabled {
    background-color: rgb(38, 124, 74);
    color: white;
    border: 2px solid white;
    font-size: 1em;
    cursor: not-allowed;
    opacity: 0.6;
}
h2{
    background-color: rgb(41, 163, 92);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid white;
    text-align: center;
    font-size: 1.5em;
}